content-loader-container[container-id="6991787"] {
    background: #000000;
    &>div.row {
        background: #000000;
    }
}
.accordion {
    margin-top: 50px !important;
    &-item {
        a {
            word-wrap: break-word !important;
        }
        a, p {
            color: #ffffff !important;
        }
    }
}
.kam-help-block {
    padding: 20px 10px;
    h2 {
        color: #55bbe9;
        margin-bottom: 10px;
        font-size: 24px;
    }
}