html body .bm-wrapper .bm-inner .bm_accordion {
    padding: 0;
    margin: 0 0 0.5em;
    background: #eee;
    // padding-left: 20px;
    margin-bottom: 23px;
    li{
        margin: 0;
        border-top-width: 2px;
        max-width: none;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.4375;
        color: #333;
        list-style: none;
        border-top: 1px solid #fff;
        border-top-width: 2px;          
        &:first-of-type{
            border: 0;
        }
        .bm_accordion_item{
            position: relative;
            padding: 12px 40px 12px 20px;
            border: 0;
            margin: 0;
            color: #9b004b;
            font-size: 1em;
            line-height: 1.2;
            font-weight: 600;
            background: 0 0;
            cursor: pointer;
            border-radius: 3px;
            &:before{
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: "\f107";
                font-size: 2.4rem;
                color: #9b004b;
                position: absolute;
                right: 15px;
            }
            p{
                font-size: 1.6rem;
                line-height: 1.4375;
                color: #333;
                margin-bottom: 0;
                font-weight: 600;
                max-width: none;
            }
        }
        .bm_accordion_item.bm-accordianactive{
            border-radius: 0;
            &:before{
                content: "\f106";
            }
            p{
                color: #9b004b;;
            }
        }
        .bm_accordion_content{
            padding: 0 40px 18px 20px;
            border: 0;
            border-radius: 0;
            background: 0 0;
            display: none;           
            -webkit-animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
         
            p{
                font-size: .92857142857em;
                max-width: none;
                &:last-of-type{
                    margin-bottom: 0;
                }
                a{
                    position: relative;
                    font-weight: 600;
                    font-size: inherit;
                    text-decoration: none;
                    color: #9b004b;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
       .bm_accordion_item.bm-accordianactive + .bm_accordion_content{
        display: block !important;
        -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
     
       }
    }

}
html body {
    .bm-electricity-wrapper.bm-wrapper h2{
            text-align: left !important;
        }
        #main-content >.new-flex-row:not(.bm-gas-acccordion) {
            display: none;
        }
        #bm-energie-accordion span{
            padding-top: 0;
            color: #333;
            font-weight: 600;
        }
} 


/* ----------------------------------------------
 * Generated by Animista on 2023-4-11 15:21:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-top
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  
/* ----------------------------------------------
 * Generated by Animista on 2023-4-11 15:28:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  
    