.kam-t32.list-item {
  row-gap: 0px;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -ms-grid-columns: 32px 1fr;
  grid-template-columns: 32px 1fr;
  display: -ms-grid;
  display: grid;
  list-style-type: none;
  margin-left: 0px;
}

.kam-t32 .checkmark {
  color: #d95e0f;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
}

.kam-t32 .checkmark svg {
  position: relative;
  bottom: 2px;
}

.kam-t32 .footnote {
  position: relative;
  padding-right: 24px;
}

.kam-t32 .footnote .footnote-icon-button {
  position: absolute;
  color: #ffffff;
  background: none;
  top: -0.4375rem;
  cursor: pointer;
}

.kam-t32 .footnote .footnote-icon-button svg {
  height: 22px;
  width: 22px;
}