$planColor: #d85d0f;
.kam-hide {
    display: none;
}

[data-tracking-title*="homepage – hauptbühne"] {
    display: none;
}

#footnote .modal-content > * {
    margin-right: 5px;
    }
body {
    &.kam-modal-open {
        position: relative;
        overflow-y: hidden;
        padding-right: 22px;
    }
}

.kam-come-back {
    position: relative;
    background-image: url("http://storage.kameleoon.eu/congstar/welcome_back_modul/welcome-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    h2 {
        color: $planColor;
    }
    &__image {
        display: none;
    }
    &__teasers {
        display: grid;
        grid-column-gap: 30px;
        padding: 20px 0;
        grid-template-columns: minmax(310px, 1.5fr) minmax(310px, 1.5fr) repeat(3, minmax(210px, 1fr));
        @media (max-width: 991px) {
            overflow-y: scroll;
        }
        .kam-tile {
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
            &:not(.kam-device-additional-tile) header {
                    height: 66px;
            }

            .device-teaser {
                @media (min-width: 1160px) {
                    width: auto;
                }
            }
        }
        
    }
    &.bg {
        &-full {
            .kam-come-back__image {
                display: block;
                width: 43%;
            }
        }
        &-hulf {
            .kam-come-back__image {
                display: block;
                width: 40%;
            }
        }
    }
   
    .footnote {
        cursor: pointer;
        color: #000;
    }
    .kam-come-back__image {
        position: absolute;
        right: 0;
        bottom: -28px;
        width: 50%;
    }
    .theme--postpaid header {
        background: #d85d0f;
        color: #fff;
    }

    .plan-bucket {
        padding-bottom: 180.5px;
        width: 100%;
        margin-bottom: 10px;
        &__header {
            padding: 0;
        }
        &__background-image {
            right: 0;
        }
        .teaser-price{
            padding-bottom: 10px;
        }
        &__container {
            min-height: 165px;
            height: 165px;
        }

        &__link {
            display: block;
            text-decoration: none;
            color: #fff;
            padding: 18px 25px 19px;
            &:hover {
                color: #ffffff;
            }
        }
    }
    .kam-plan-tile[plan-id="370"] .plan-bucket__container{
        min-height: 168px;
    }
    hr {
        height: 2px;
    }
    }
  
.kam-plan-tile {
    &.theme--postpaid .plan-bucket__link:hover {
        background: #c94008;
    }
    &.theme--prepaid .plan-bucket__link:hover {
        background: #e47100;
    }
}
.kam-device-tile {
    .device-teaser {
        background: #fff;
        max-width: 100%;
        padding-bottom: 180.5px;
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        &__container {
            position: relative;
            padding: 15px;
            min-height: 165px;
            height: 165px;
        }
        &__image {
            margin: auto;
        }
        &__image-link {
            min-height: 140px;
        }
        &__header a {
            height: inherit;
        }
        &__title {
            margin: 0;
        }
    }
    .configurator-selection__costs {
        flex: 0 0 100%;
        padding: 0;
        max-width: 100%;
        
    }
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 25px;
        .btn-primary {
            margin-top: 7px;
        }
    }
    .price {
        color: #000;
        &--large {
            .price {
                &__euro {
                    padding-right: 1px;
                    font-size: 4rem;
                }
                &__cent {
                    position: absolute;
                    top: 3px;
                    font-size: 2rem;
                }
                &__rate {
                    font-size: 1.2rem;
                }
            }
        }
        &-listing {
           display: none;
        }
    }
    .price__duration {
        font-size: 0.9rem;
        margin-top: 3px;
    }
}

.kam-device-additional-tile {
    .device-teaser {
        margin-bottom: 10px;
        &__title {
            margin-bottom: 0;
        }
        &__header {
            a {
                height: 8rem;
            }
        }

        &__image-link {
            min-height: 160px;
        }
    }
}

@media (min-width: 1160px){
    .kam-come-back .slick-slide:nth-child(n+3) {
        width: 206.5px!important;
        min-width: 206.5px!important;
    }
    .kam-come-back__teasers .slick-slide {
        width: 325px;
        min-width: 325px;
        .kam-device-additional-tile {
            min-width: 206.5px!important;
            width: 206.5px!important;
            .device-teaser {
               width: auto;
               min-width: auto;
            }
        }
    }
}

@media (max-width: 1100px){
    .kam-come-back.bg-hulf .kam-come-back__image {
        display: none;
    }
}
@media (max-width: 630px){
    .kam-come-back.bg-full .kam-come-back__image {
        display: none;
    }
}