.kam-banner{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    svg{
        min-width: 80px !important;
    }
    span{
        font-family: Skizzed,Helvetica,Arial,sans-serif;
        font-weight: 400;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-size: 24px;
        margin-left: 24px;
    }
    
    i{
        font-size: 34px;
        font-family: Skizzed;
        font-style: normal;
    }
    
}
@media (max-width: 730px) {
    .kam-banner{
        span{
            font-size: 19px;
        }
    }
    
}
// @import './common.scss'
