@mixin small-desktop {
    @media (max-width: 1024px) { @content; }
}
@mixin middle-desktop {
    @media (min-width: 1200px) and (min-height: 650px) { @content; }
}
@mixin large-desktop {
    // @media (min-width: 1400px) and (min-height: 800px) { @content; }
    @media (min-width: 1400px) and (min-height: 800px) { @content; }
}
@mixin tablet {
    @media (min-width: 768px) and (max-width: 1023px) and (min-height: 660px) { @content; }
}
@mixin phone {
    @media (max-width: 767px) { @content; }
}
@mixin slim-phone {
    @media (max-width: 340px) { @content; }
}
@mixin very-slim-phone {
    @media (max-width: 315px) { @content; }
}
@mixin rotate-tablet {
    @media (max-width: 840px) { @content; }
}
@mixin rotate-small-tablet {
    @media (max-width: 768px){ @content; }
}
@mixin rotate-large-phone {
    @media (min-width: 375px) and (max-width: 600px) { @content; }
}
@mixin rotate-phone {
    @media (max-height: 624px)  { @content; }
}
@mixin rotate-slim-phone {
    @media (max-height: 400px) { @content; }
}
@mixin rotate-very-slim-phone {
    @media (max-height: 330px) { @content; }
}
@mixin rotate-short-phone {
    @media (max-width: 510px) { @content; }
}
@mixin long-phone {
    @media (min-width: 375px) { @content; }
}
@mixin large-phone {
    @media (min-height: 600px) { @content; }
}

.kam-add2cart-canvas__overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 998;
    background-color: rgba(0, 0, 0, .7);
    &.active {
        display: block;
    }
}

#kam-add2cart-off_canvas {
    display: none;
    position: fixed;
    z-index: 1001;
    width: 800px;
    height: auto;
    left: 0;
    right: 0;
    margin: auto auto;
    margin-top: 50px;
    background-color: white;
    padding: 35px 45px 30px 45px;
    &.active {
        display: block;
    }
}

#kam-add2cart-off_canvas-header__text {
    color: #76b856;
    padding-left: 45px;
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
}

#kam-add2cart-off_canvas-header-close {
    z-index: 999;
    cursor: pointer;
    position: absolute;
    height: 35px;
    width: 35px;
    right: -40px;
    top: -40px;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .svg-icon {
        width: 1.2rem;
        height: 1.2rem;
    }
}

#kam-add2cart-off_canvas-content-wrapper {
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: flex-start;
    padding-top: 60px;
}

.kam-add2cart-off_canvas-item {
    display: flex;
    &__image {
        width: 180px;
        a {
            padding: 0 !important;
        }
        img, picture {
            width: inherit !important;
        }
    }
    &-details {
        height: auto;
        margin: 0 10px 0 30px;
        width: auto;
        p {
            margin: 0;
            font-size: 1rem;
            line-height: 1.5rem;
            &:first-child {
                margin-bottom: 15px;
                line-height: 1.3rem;
                font-size: 1.2rem;
            }
        }
        .product-price-inner-holder {
            display: block;
            justify-content: flex-start !important;
            margin-top: 15px;
            .product-price {
                font-size: 1.1rem; 
                font-weight: bold;
                margin-top: 0;
            }
        }
    }
}

.kam-add2cart-off_canvas-buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 192px;
    .kam-continue {
        margin-bottom: 15px;
    }
    .kam-cart {
        .btn-darkgrey {
            background-color: #d9d9d9;
            color: #303030;
            .svg-icon {
                fill: #303030;
            }
        }
        &:hover {
            .btn-darkgrey {
                background-color: #fff;
         
            }
        }
    }
    .kam-button {
        height: 40px;
        width: inherit;
        button.btn-text, 
        a.btn-text {
            width: 100%;
            font-weight: bold;
            padding: 6px;
            height: 100%;
            font-size: 1rem;
            .btn-inner-wrapper {
                height: 100%;
            }
        }
    }
}

@include small-desktop {
    #kam-add2cart-off_canvas {
        margin-top: 75px;
    }
}
@media only screen and (orientation: landscape) {
    @include small-desktop {
        #kam-add2cart-off_canvas {
            width: 80%;
            padding: 35px 30px 40px 20px;
            margin-top: 50px;
            // margin-top: 75px;
            #kam-add2cart-off_canvas-header__text {
                font-size: 1.2rem;
                padding-left: 10px;
            }
            .kam-add2cart-off_canvas-reco {
                .ef-product-reco-tile__image-wrapper {
                    flex-direction: column;
                    img {
                        width: 140px;
                    }
                }
            }
        }

        @include rotate-phone {
            @include long-phone {
                #kam-add2cart-off_canvas {
                    padding: 15px;
                    margin-top: 60px;
                    #kam-add2cart-off_canvas-header__text {
                        font-size: 1rem;
                    }
                    #kam-add2cart-off_canvas-content-wrapper {
                        padding-top: 20px;
                        flex-direction: row;
                        .kam-add2cart-off_canvas-buttons {
                            width: 170px;
                            .kam-button {
                                button.btn-text, 
                                a.btn-text {
                                    font-size: .9rem;
                                }
                            }
                        }
                        .kam-add2cart-off_canvas-item {
                            &__image {
                                width: 135px;
                            }
                            &__details {
                                margin: 0 15px;
                                p {
                                    line-height: 1.2rem;
                                    font-size: .9rem;
                                    &:first-child {
                                        font-size: 1rem;
                                        line-height: 1.2rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
    
            @include large-phone {
                #kam-add2cart-off_canvas {
                    padding: 35px;
                    #kam-add2cart-off_canvas-content-wrapper {
                        padding-top: 25px;
                        flex-direction: row;
                        .kam-add2cart-off_canvas-item {
                            &__image {
                                width: 180px;
                            }
                            &__details {
                                margin-left: 40px;
                                p {
                                    line-height: 1.4rem;
                                    font-size: 1.3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include rotate-tablet {
        #kam-add2cart-off_canvas {
            padding: 25px 35px;
            margin-top: 38px;
            #kam-add2cart-off_canvas-header-close {
                height: 30px;
                width: 30px;
                right: -33px;
                top: -33px;
                border-radius: 30px;
                .svg-icon {
                    width: 1rem;
                    height: 1rem;
                }
            }
            #kam-add2cart-off_canvas-header__text {
                font-size: 1.1rem;
                text-align: center;
                padding-left: 0;
            }
            .kam-add2cart-off_canvas-reco {
                .ef-product-reco {
                    margin-top: 13px;
                }
                .ef-product-reco-tile__image-wrapper {
                    img {
                        width: 100px;
                    }
                }
            }
            #kam-add2cart-off_canvas-content-wrapper {
                .kam-add2cart-off_canvas-item {
                    &__image {
                        width: 120px !important;
                    }
                    &__details {
                        margin: 0 20px;
                        p {
                            line-height: 1.4rem;
                        }
                    }
                }
            }
        }
    }

    @include rotate-small-tablet {
        #kam-add2cart-off_canvas {
            padding: 25px 35px 20px;
            #kam-add2cart-off_canvas-header__text {
                font-size: 1rem;
            }
            #kam-add2cart-off_canvas-content-wrapper {
                .kam-add2cart-off_canvas-item {
                    &__image {
                        width: 140px;
                    }
                    &__details {
                        p {
                            font-size: .9rem;
                            line-height: 1.2rem;
                            &:first-child {
                                line-height: 1rem;
                                font-size: 1rem;
                            }
                        }
                        .product-price-inner-holder {
                            .product-price {
                                font-size: 1rem; 
                            }
                        }
                    }
                }
                .kam-add2cart-off_canvas-buttons {
                    width: 140px;
                    .kam-button {
                        button.btn-text, 
                        a.btn-text {
                            font-size: .9rem;
                        }
                    }
                }
            }
        }
    }

    @include rotate-large-phone {
        #kam-add2cart-off_canvas {
            padding: 15px;
            #kam-add2cart-off_canvas-content-wrapper {
                padding-top: 15px;
                .kam-add2cart-off_canvas-item {
                    &__image {
                        width: 130px;
                    }
                    &__details {
                        margin: 0 10px;
                        p {
                            font-size: .8rem;
                            &:first-child {
                                font-size: .9rem;
                                margin-bottom: 10px;
                            }
                        }
                        .product-price-inner-holder {
                            margin-top: 5px;
                        }
                    }
                }
                .kam-add2cart-off_canvas-buttons {
                    width: 145px;
                }
            }
        }
    }

    @include rotate-very-slim-phone {
        @include rotate-short-phone {
            #kam-add2cart-off_canvas {
                width: 83%;;
                #kam-add2cart-off_canvas-content-wrapper {
                    .kam-add2cart-off_canvas-item {
                        &__image {
                            width: 115px;
                        }
                    }
                    .kam-add2cart-off_canvas-buttons {
                        width: 110px;
                    }
                }
            }
        }
        #kam-add2cart-off_canvas {
            margin-top: 50px;
            padding: 15px;
            #kam-add2cart-off_canvas-content-wrapper {
                padding-top: 15px;
                .kam-add2cart-off_canvas-item {
                    &__details {
                        p {
                            &:first-child {
                                margin-bottom: 10px;
                            }
                        }
                        .product-price-inner-holder {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }

    @include rotate-slim-phone {
        #kam-add2cart-off_canvas {
            margin-top: 55px;
            #kam-add2cart-off_canvas-content-wrapper {
                padding-top: 30px;
            }
        }
    }
    @include middle-desktop {
        #kam-add2cart-off_canvas {
            margin-top: 55px;
            .kam-add2cart-off_canvas-reco {
                .ef-product-reco-tile__image-wrapper {
                    flex-direction: column;
                    img {
                        width: 120px;
                    }
                }
            }
            #kam-add2cart-off_canvas-content-wrapper {
                .kam-add2cart-off_canvas-item {
                    &__image {
                        width: 130px;
                    }
                }
            }
        }
    }
    @include large-desktop { 
        #kam-add2cart-off_canvas {
            width: 1200px;
            margin-top: 45px;
            #kam-add2cart-off_canvas-header__text {
                font-size: 1.6rem;
            }
            .kam-add2cart-off_canvas-reco {
                .ef-product-reco {
                    margin-top: 0;
                    &-tile__image-wrapper {
                        flex-direction: column;
                        img {
                            width: 160px;
                        }
                    }
                    .teaser-superscription-headline {
                        font-size: 1.6rem;
                    }
                }
            }
            #kam-add2cart-off_canvas-content-wrapper {
                .kam-add2cart-off_canvas-item {
                    &__image {
                        width: 190px;
                    }
                    &__details {
                        p {
                            font-size: 1.3rem;
                            line-height: 2.1rem;
                            &:first-child {
                                font-size: 1.6rem;
                                margin-bottom: 20px;
                            }
                        }
                        .product-price-inner-holder {
                            .product-price {
                                font-size: 1.6rem;
                                margin-top: 20px;
                            }
                        }
                    }
                }
                .kam-add2cart-off_canvas-buttons {
                    width: 235px;
                    .kam-button {
                        button.btn-text, 
                        a.btn-text {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }    
}

@media only screen and (orientation: portrait) {
    @include tablet { 
        #kam-add2cart-off_canvas {
            width: 85%;
            padding: 40px 30px 40px 20px;
            margin-top: 70px;
            #kam-add2cart-off_canvas-header-close {
                height: 35px;
                width: 35px;
                right: -40px;
                top: -40px;
                .svg-icon {
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }
            #kam-add2cart-off_canvas-header__text {
                font-size: 1.1rem;
                text-align: center;
                padding: 0 0 0 20px;
            }

            .kam-add2cart-off_canvas-reco {
                .ef-product-reco {
                    // margin-top: 13px;
                    margin-top: 37px;
                }
                .ef-product-reco-tile__image-wrapper {
                    flex-direction: column;
                    img {
                        width: 150px;
                    }
                }
            }

            #kam-add2cart-off_canvas-content-wrapper {
                height: auto;
                align-items: flex-start;
                padding-top: 55px;
                .kam-add2cart-off_canvas-item {
                    &__details {
                        padding-left: 20px;
                        margin-right: 10px;
                        margin-left: 0;
                        p {
                            font-size: 1rem;
                            &:first-child {
                                font-size: 1.1rem;
                                line-height: 1.4rem;
                            }
                        }
                        .product-price-inner-holder {
                            justify-content: flex-start;
                            margin-top: 10px;
                            .product-price {
                                font-size: 1.1rem;
                            }
                        }
                       
                    }
                }
                .kam-add2cart-off_canvas-buttons {
                   padding: 0;
                   .kam-button {
                        button.btn-text, 
                        a.btn-text {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
    
    @include phone {
        #kam-add2cart-off_canvas {
            width: 85%;
            margin-top: 33px;
            padding: 15px 15px;
            #kam-add2cart-off_canvas-header-close {
                height: 23px;
                width: 23px;
                top: -23px;
                right: -23px;
                .svg-icon {
                    width: 0.7rem;
                    height: 0.7rem;
                }
            }
            #kam-add2cart-off_canvas-header__text {
                padding: 0 10px;
                font-size: 1rem;
                text-align: center;
            }
            .kam-add2cart-off_canvas-reco {
                .ef-product-reco {
                    margin-top: 13px;
                }
                .teaser-superscription-wrapper {
                    margin-bottom: 8px;
                }
                .teaser-superscription-headline {
                    font-size: 1rem;
                }
                .ef-product-reco-tile__image-wrapper {
                    img {
                        width: 100px;
                    }
                }
            }
            #kam-add2cart-off_canvas-content-wrapper {
                flex-direction: column;
                height: auto;
                padding-top: 0;
                .kam-add2cart-off_canvas-item {
                    margin-top: 20px;
                    // margin-top: 10px;
                    &__details {
                       margin: 0;
                       padding-left: 12px;
                        p {
                          font-size: .9rem;
                          line-height: 1.4rem;
                            &:first-child {
                                line-height: 1.1rem;
                                font-size: 1rem;
                                margin-bottom: 6px;
                            }
                        }
                        .product-price-inner-holder {
                            margin-top: 6px;
                        }
                    }
                    &__image {
                        // width: 130px;
                        width: 100px;
                    }
                }
                .kam-add2cart-off_canvas-buttons {
                    width: 100%;
                    // margin-top: 17px;
                    margin-top: 10px;
                    .kam-continue {
                        margin-bottom: 5px;
                    }
                    .kam-button {
                        height: 30px;
                        button.btn-text, 
                        a.btn-text {
                            height: 90%;
                            font-size: .9rem;
                        }
                    }  
                }
            }
        }
    }
    
    @include slim-phone {
        #kam-add2cart-off_canvas {
            margin-top: 30px;
            width: 85%;
            #kam-add2cart-off_canvas-header-close {
                // top: -35px;
                top: -23px;
                // right: -25px;
                right: -19px;
                height: 20px;
                width: 20px;
                .svg-icon {
                    // width: 1rem;
                    width: 0.6rem;
                    // height: 1rem;
                    height: 0.6rem;
                }
            }
            #kam-add2cart-off_canvas-content-wrapper_buttons {
                margin-top: 10px;
            }
            #kam-add2cart-off_canvas-header__text {
                // font-size: .8rem;
                font-size: 0.74rem;
                // line-height: 1rem;
                line-height: 0.95rem;
            }
            .kam-add2cart-off_canvas-reco {
                .ef-product-reco {
                    margin-top: 10px;
                }
                .teaser-superscription-wrapper {
                    margin-bottom: 2px;
                }
                .teaser-superscription-headline {
                    font-size: .7rem;
                    line-height: 0.9rem;
                }
                .ef-product-reco-tile__image-wrapper {
                    img {
                        width: 70px;
                    }
                }
                .product-list-price-wrapper {
                    margin-top: 0;
                }
                .product-label {
                    font-size: 0.7rem;
                }
                .product-name {
                    font-size: 0.7rem;
                }
                .product-price {
                    font-size: 0.6rem;
                }
            }
            #kam-add2cart-off_canvas-content-wrapper {
                .kam-add2cart-off_canvas-item {
                    // margin-top: 10px;
                    margin-top: 20px;
                    &__details {
                        p {
                            // line-height: 1.1rem;
                            line-height: 0.9rem;
                            // font-size: .7rem;
                            font-size: .6rem;
                            &:first-child {
                                // font-size: .8rem;
                                font-size: .6rem;
                                line-height: 0.9rem;
                                // margin-bottom: 10px;
                                margin-bottom: 5px;
                            }
                        }
                        .product-price-inner-holder {
                            // margin-top: 6px;
                            margin-top: 2px;
                            .product-price {
                                // font-size: .8rem; 
                                font-size: .7rem;
                            }
                        }
                    }
                    &__image {
                        // width: 110px;
                        width: 70px;
                    }
                }
                .kam-add2cart-off_canvas-buttons {
                    margin-top: 5px;
                    .kam-continue {
                        margin-bottom: 0;
                    }
                    .kam-button {
                        height: 28px;
                        button.btn-text, 
                        a.btn-text {
                            height: 80%;
                            font-size: .8rem;
                        }
                    }  
                }
            }
        }
    }

    @include very-slim-phone {
        #kam-add2cart-off_canvas {
            .kam-add2cart-off_canvas-reco {
                .ef-product-reco-tile__image-wrapper {
                    img {
                        width: 60px;
                    }
                }
            }
            #kam-add2cart-off_canvas-content-wrapper {
                .kam-add2cart-off_canvas-item {
                    &__details {
                        p {
                        //   line-height: 1rem; 
                            line-height: 0.9rem;
                        }
                        .product-price {
                            font-size: .7rem; 
                        }
                    }
                    &__image {
                        width: 60px; 
                    }
                }
                .kam-add2cart-off_canvas-buttons {
                    // padding-top: 10px; 
                    padding-top: 5px;
                }
            }
        }
    }
}