.kam-add2cart-canvas__overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 998;
    background-color: rgba(0, 0, 0, .7);
    &.active {
        display: block;
    }
}

#kam-add2cart-off_canvas {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(43.75rem);
    transition: transform 0.15s ease-in;
    width: 40.625rem;
    z-index: 1500;
    box-shadow: 0.3125rem 0 3.125rem 0 rgba(0, 0, 0, 0.75);
    &.active {
        transform: translateX(0);
        transition: transform 0.15s ease-out;
    }
}

#kam-add2cart-off_canvas-header {
    background-color: #76b856;
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;

    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
}

#kam-add2cart-off_canvas-header__text {
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    line-height: inherit;
    margin-left: 0.75rem;
    margin-top: 0.4375rem;
    vertical-align: top;
}

#kam-add2cart-off_canvas-header-close {
    cursor: pointer;
    float: right;
    margin-top: 0.5rem;

    & .svg-icon {
        height: 0.9375rem;
        width: 0.9375rem;
    }
}

#kam-add2cart-off_canvas-content-wrapper {
    height: calc(100vh - 70px);
    background-color: #f1f1f1;
    flex: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#kam-add2cart-off_canvas-reco-wrapper {
    height: calc(100vh - 70px - 68px);
    margin: 0.625rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    font-weight: 400;
    background: #ffffff;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.kam-add2cart-off_canvas-item {
    width: 100%;
    background-color: #ffffff;
    padding: 0.625rem;
    border-bottom: 1px solid #f1f1f1;
    &__image {
        max-width: 50%;
        text-align: right;
        >.img-fluid {
            width: 200px;
        }
    }
    &-details {
        max-width: 50%;
        &__message {
            margin-top: 0;
            color: #76b856;
            & .svg-icon {
                fill: #76b856;
                margin-left: -1.3rem;
                width: 16px;
                height: 16px;
            }
        }

        &__name,
        &__price {
            font-weight: 700;
            font-size: 1.25rem;
        }

        &__name,
        &__extra {
            margin-top: 0.625rem;
        }
    }
}

.kam-add2cart-off_canvas-reco {
    width: 100%;
    flex: 1;
    background-color: #ffffff;
}

#kam-add2cart-off_canvas-footer {
    background-color: #fff;
    padding: 0.9375rem 0.625rem;

    & .btn {
        width: 100%;
    }
}

@media (min-width: 740px) {
    #kam-add2cart-off_canvas-footer {
        padding: 0.9375rem 2.1875rem;
    }
}

@media (max-width: 739.98px) {
    .kam-add2cart-canvas__overlay {
        z-index: 150;
    }

    #kam-add2cart-off_canvas {
        background: none;
        display: block;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        transform: translateX(-100%);
        padding-top: 3.625rem;
    }

    #kam-add2cart-off_canvas-header {
        color: #fff;
        padding: .5625rem 10px;
        margin-bottom: 0;
        background: #76b856;
        &__text {
            display: inline;
            font-size: .75rem;
            font-weight: 700;
            margin: 0;
            vertical-align: inherit;
        }

        &>.ef-icon:first-child {
            display: none;
        }

        &-close {
            margin: 0;
            cursor: pointer;
            border: none;
            height: 1.5625rem;
            float: right;
            width: 1.5625rem;
            padding: 0;

            & .svg-icon {
                height: .75rem;
                width: .75rem;
            }
        }
    }

    #kam-add2cart-off_canvas-content-wrapper {
        height: calc(100vh - 3.625rem - 42px);
        background-color: #f1f1f1;
        flex: 1;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    
    #kam-add2cart-off_canvas-reco-wrapper {
        height: calc(100vh - 3.625rem - 42px - 68px);
        margin: 0.625rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        font-size: 0.875rem;
        font-weight: 400;
        background: #ffffff;
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        & .ef-product-reco {    
        }
    }

    .kam-add2cart-off_canvas-item {
        padding: 1em !important;
        &__image>.img-fluid {
            height: 130px;
            width: 130px;
        }

        &-details {
            &__message {
            }
    
            &__name,
            &__price {
                font-size: .875rem;
            }
            &__name,
            &__color,
            &__price,
            &__extra {
                margin-top: 0 !important;
            }
        }
    }
}

@media (max-width: 361px) {
    .kam-add2cart-off_canvas-item-details {
        width: 180px;
    }
}

@media (max-width: 310px) {
    #kam-add2cart-off_canvas-footer__cart,
    #kam-add2cart-off_canvas-footer__shop {
        width: 150px;
    }
}

@media (max-width: 299px) {
    #kam-add2cart-off_canvas-footer__cart,
    #kam-add2cart-off_canvas-footer__shop {
        width: 100px;
    }
}