.kam-T15-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 11px 13px;
  gap: 10px;
}

.kam-T15-container .kam-content .kam-headline {
  color: #008b74;
  font-family: 'Interstate';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.kam-T15-container .kam-content .kam-text {
  font-family: 'Interstate';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

@media only screen and (max-width: 1160px) {
  .kam-T15-container .kam-content .kam-headline {
    font-size: 18px;
    line-height: 23px;
  }

  .kam-T15-container .kam-content .kam-text {
    font-size: 14px;
    line-height: 20px;
  }
}

.app-content {
  padding: 0px;
}

.kam-T15-container {
  margin-bottom: 21px;
  border-radius: 0 0 4px 4px;
  width: 74.5%;
}

@media only screen and (max-width: 1159px) {
  .kam-T15-container {
    width: 100%;
  }
}