.popup-127026 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
.popup-wrapper {
    /*border: 1px solid red;*/
    max-width: 812px;
    position: relative;
}
.popup-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.popup-closeColor {
    fill: #fff;
}
.header-title {
    text-align: left;
    letter-spacing: 5px;
    color: #ffffff;
    opacity: 1;
    margin: 0;
    font-family: "Skizzed", Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 52px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
.header-text {
    text-align: left;
    font: normal normal bold 24px/28px Interstate;
    letter-spacing: 0.02px;
    color: #ffffff;
    opacity: 1;
    margin: 15px 0 0 0;
    width: 70%;
}
.popup-content {
    display: flex;
    position: relative;
    justify-content: flex-end;
}
.wrapper-logoImg {
    position: absolute;
    bottom: 25px;
    left: 20px;
}
.wrapper-girlImg {
    position: absolute;
    left: 251px;
    bottom: 8px;
}
.mainBlock {
    margin-top: 117px;
    margin-right: 50px;
    margin-bottom: 14px;
    background-color: #fff;
}
.mainBlock-header {
    background-color: #d95e0f;
    width: 325px;
    height: 68px;
    display: flex;
    align-items: center;
}
.mainBlock-title {
    font-family: Interstate, serif;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
    position: relative;
    left: 24px;
}
.mainBlock-wrapper {
    margin-left: 24px;
}
.list {
    margin-left: 0;
    padding-left: 0;
}
.listItem {
    list-style-type: none;
    text-align: left;
    font: normal normal bold 16px/20px Interstate;
    letter-spacing: 0.02px;
    color: #d95e0f;
}
svg {
    position: relative;
    top: 20px;
}
.listItem-description {
    text-align: left;
    font: normal normal normal 14px/20px Interstate;
    letter-spacing: 0.01px;
    color: #d95e0f;
    position: relative;
    left: 37px;
    top: 18px;
}
.listItem-text {
    position: relative;
    left: 7px;
    top: 22px;
}
.sim-svg {
    top: 26px;
}
.sim-text {
    top: 28px;
}
.offer {
    margin-top: 51px;
}
.offer-header {
    text-transform: uppercase;
    font-family: Interstate, serif;
    font-weight: normal;
    font-size: 12px;
    color: #fff;
    background-color: #000;
    padding: 2px 5px;
}
.offer-text {
    text-align: left;
    letter-spacing: 0.01px;
    color: #000000;
    opacity: 1;
    margin: 5px 0 0 0;
    font-family: "Interstate";
    font-weight: bold;
    font-style: normal;
    font-variant-caps: normal;
    font-stretch: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-size: 14px;
    line-height: 21px;
}
.separator {
    border: 1px dashed #707070;
    margin: 15px 24px 15px 0;
}
.price-integer {
    font-family: Interstate, serif;
    font-weight: bold;
    color: #000;
    font-size: 36px;
}
.price-modulo {
    font-family: Interstate, serif;
    font-weight: bold;
    color: #000;
    font-size: 18px;
    position: relative;
    top: -13px;
    left: -3px;
}
.price-unit {
    font-family: Interstate, serif;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    position: relative;
    left: -31px;
}
.price-img {
    position: relative;
    left: -35px;
    top: -8px;
}
.price-discount {
    text-align: left;
    font: normal normal bold 14px/24px Interstate;
    letter-spacing: 0.01px;
    color: #000000;
    opacity: 1;
    position: relative;
    left: -33px;
}
.button-wrapper {
    margin-bottom: 24px;
    margin-top: 12px;
}
.button {
    outline: none;
    border: none;
    background-color: #d95e0f;
    font-family: Interstate, serif;
    font-weight: bold;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 9px 12px;
    cursor: pointer;
    width: 110px;
    height: 40px;
    position: relative;
    left: 24px;
    transition: left 0.1s linear, width 0.1s linear, background-color 0.1s linear;
}
.button:hover {
    left: 7px;
    width: 140px;
    background-color: #C94008;
}
.button::before {
    content: "Zur Aktion";
    position: h;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    opacity: 1;
    transition: opacity 0.1s linear;
}
.button::after {
    content: 'Jetzt bestellen';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.1s linear;
}
.button:hover::after {
    opacity: 1;
}
.button:hover::before {
    opacity: 0;
}
}
//
/*JS styles start*/
.overflowHidden {
    overflow: hidden;
}
/*JS styles end*/
