@import './stylesheet.scss';

.kam-T15-container {
    border-radius: 4px 4px 0 0;
    position: relative;
}

.kam-T15-container::after {
    content: ' ';
    width: 19px;
    height: 19px;
    background-color: #fff;
    position: absolute;
    bottom: -9.5px;
    left: 50%;
    right: 50%;
    transform: rotate(45deg);
}

.kam-T15-container + .bucket {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    
    > .bucket__header {
        border-radius: 0;
    }
}