.kam-modal-open {
  overflow: hidden;
}

.cart-popup {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.cart-popup__container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 85vw;
  max-width: 800px;
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  overflow: auto;
}

.cart-popup__headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 16px;
}

.cart-popup__headline:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -20px;
  width: calc(100% + 40px);
}

.cart-popup__headline h2 {
  max-width: 90%;
}

.cart-popup__headline .close__icon {
  height: 20px;
  width: 20px;
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 20px;
}

.cart-popup__headline .close__icon:before,
.cart-popup__headline .close__icon:after {
  content: '';
  position: absolute;
  right: 8px;
  height: 20px;
  width: 3px;
  background: #000000;
}

.cart-popup__headline .close__icon:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cart-popup__headline .close__icon:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cart-popup__content .content__text {
  margin-bottom: 15px;
}

.kam-rental-link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.kam-rental-link:before {
  background: transparent url("img/ic_checkmark.png") 0% 0% no-repeat padding-box;
}

.btn-primary.hidden {
  display: none;
}

.theme--phones .configurator-tab {
  max-width: 33.3%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
}

.kam-info .configurator-selection {
  margin-bottom: 10px;
}

.kam-info .col-7 {
  min-width: 300px;
  font-size: 16px;
}

.kam-info .kam-span {
  margin-left: 0 !important;
  font-size: 12px;
  width: 84px;
  height: 20px;
  text-align: center;
  font-weight: 600;
  margin: 15px 0 5px -15px;
  background: #ffffff;
  color: #008bd0;
  padding-top: 1px;
}

.kam-info .kam-rental-popup {
  cursor: pointer;
}

.kam-info button {
  margin: 20px 0 8px 0;
}

.kam-info button.btn-icon--disabled {
  color: #fff !important;
  background-color: #464646 !important;
  cursor: pointer;
}

.kam-info button svg {
  color: #ffffff;
  width: 20px;
  height: 20px;
  fill: white;
  position: absolute;
  left: 20px;
  top: 12px;
}

.kam-info .btn-icon:before {
  content: '';
  left: 40px;
}

.kam-info .not-available {
  font-size: 24px;
  margin-bottom: 7px;
}

.kam-rental-popup {
  font-size: 16px;
  position: absolute;
  top: -75px;
  right: 30px;
  text-decoration: none;
}

.kam-rental-popup .kam-not-available {
  top: 40px;
  position: absolute;
  width: 240px;
  right: 10px;
}

.kam-rental-popup p {
  font-size: 16px;
}

.kam-rental-popup p span {
  text-decoration: underline;
}

.kam-legal-text {
  font-size: 12px;
}

.kam-btn-disabled {
  background-color: #808080;
  pointer-events: none;
}

.kam-banner-message {
  position: absolute;
  background-color: #fecb01;
  color: #000;
  right: 3%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 10px;
  font-size: 1.2rem;
  font-weight: bold;
  z-index: 2;
}

.is-inactive {
  -webkit-box-shadow: 2px 0px 8px #00000026 !important;
  box-shadow: 2px 0px 8px #00000026 !important;
}

@media screen and (max-width: 1000px) {
  .kam-rental-popup {
    width: 125px;
    right: 10px;
  }

  .kam-rental-popup .kam-not-available {
    top: 33px;
    width: 125px !important;
    line-height: 15px;
    left: 15px;
  }
}

@media screen and (max-width: 1159px) {
  .kam-info button {
    margin: 0 0 8px 0;
  }

  .kam-info .kam-rental-popup {
    font-size: 16px;
    position: absolute;
    top: -175px;
    right: 30px;
    text-decoration: none;
  }

  .kam-info .kam-rental-popup p {
    font-size: 16px;
  }

  .kam-info .kam-rental-popup .kam-not-available {
    width: 250px;
    right: -20px;
  }
}

.configurator-tab:nth-child(2).is-inactive::before {
  display: none;
}

.kam_star {
  color: #000000;
  pointer-events: none;
}

kam-footnote {
  top: -7px;
}

@media screen and (max-width: 855px) {
  .configurator-tab__title {
    font-size: 14px;
  }

  .kam-footnote {
    top: -25px;
    left: 35px;
  }
}

@media screen and (max-width: 767px) {
  .kam-footnote {
    top: -7px;
    left: 0;
  }
}

@media screen and (max-width: 395px) {
  .kam-footnote {
    top: -25px;
    left: 35px;
  }
}

@media screen and (max-width: 360px) {
  .configurator-tab__title {
    font-size: 10px;
  }
}