.breakpoint {
    display: block;
}

.header-menu {
    top: auto;
}

.cyber-container {
    position: fixed;
    background-color: #1f1f1f;
    width: 100%;
    top: 0;
    z-index: 999;
    border-bottom: 1px dotted #959595;
}

.container-content {
    display: flex;
    margin: auto;
    padding: 15px;
    align-items: center;
}

.content-text strike {
    color: #8f8f8f;
}

.close {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    height: fit-content;
    align-self: flex-start;
    line-height: normal;
}

.close-pointer {
    cursor: pointer;
    font-family: 'congstar-icons';
    font-size: 2.5em;
}

.text-size {
    font-size: 1.5rem;
    color: white;
}

.headline-size {
    font-size: 2.1rem;
    line-height: 2rem;
}

@media only screen and (min-width: 320px) {
    .container-content {
        width: 100%;
        align-items: flex-start;
        flex-flow: wrap;
    }

    #img-container {
        order: 1;
    }

    .img-height {
        height: auto;
        width: 70px;
        margin-bottom: 10px;
    }

    .close {
        order: 2;
    }

    .content-text {
        order: 3;
    }

    .txt-margin {
        margin: 0;
    }

    .breakpoint {
        display: none;
    }
    
    .add-height {
        top: 200px;
    }

    .add-margin {
        top: 257px;
        margin-bottom: 200px;
    }

    .animate-header.add-height {
        top: 200px;
    }

    .hamburger-parent {
        height: auto;
        bottom: 0;
        position: absolute;
        top: 57px;
        overflow: auto;
    }

    .hamburger-content {
        height: auto !important;
    }

    .hamburger-menu {
        top: 200px;
        box-sizing: border-box;
        bottom: 0;
        height: auto !important;
    }

    .text-size {
        font-size: 1.3rem;
    }

    .headline-size {
        font-size: 1.8rem;
    }

    .filter-height {
        margin-top: 197px;
    }
}

@media only screen and (min-width: 362px) {  
    .add-height {
        top: 179px;
    }

    .add-margin {
        top: 237px;
    }

    .animate-header.add-height {
        top: 179px;
    }

    .hamburger-menu {
        top: 179px;
        height: auto;
        box-sizing: border-box;
    }

    .filter-height {
        margin-top: 176px;
    }
}    

@media only screen and (min-width: 517px) {    
    .add-height {
        top: 160px;
    }

    .add-margin {
        top: 217px;
    }

    .animate-header.add-height {
        top: 160px;
    }

    .hamburger-menu {
        top: 160px;
    }

    .filter-height {
        margin-top: 157px;
    }
}

@media only screen and (min-width: 768px) {
    .container-content {
        display: flex;
        flex-wrap: unset;
        align-items: center;
    }

    .img-height {
        height: auto;
        max-width: 110px;
        width: 110px;
        margin: 0;
    }

    #img-container {
        order: unset;
    }

    .close {
        order: unset;
    }

    .content-text {
        order: unset;
        margin-left: 30px;
    }

    .add-height {
        top: 124px;
    }

    .animate-header.add-height {
        top: 124px;
    }
    
    .add-margin {
        top: 242px
    }

    .breakpoint {
        display: block;
    }
    
    .hamburger-parent {
        height: unset;
        bottom: unset;
        position: unset;
        top: unset;
        overflow: hidden;
    }

    .hamburger-content {
        height: unset;
    }

    .hamburger-menu {
        top: unset;
        box-sizing: unset;
        bottom: unset;
        height: unset;
    }

    .text-size {
        font-size: 1.3rem;
    }

    .headline-size {
        font-size: 1.9rem;
    }

    .filter-height {
        margin-top: unset;
    }
}

@media only screen and (min-width: 892px) {
    .add-height {
        top: 118px;
    }

    .animate-header.add-height {
        top: 118px;
    }
}

@media only screen and (min-width: 1153px) {
    .container-content {
        width: 1153px;
    }

    .add-height {
        top: 118px;
        height: 131px;
    }

    .animate-header.add-height {
        top: 118px;
        height: 71px;
    }
}
