* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif, Arial;
}

body {
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
}

label {
  color: #4d5e70;
  cursor: default;
  font-size: 12px;
  line-height: 24px;
}

input, select {
  display: block;
  border: 1px solid #eeeeee;
  color: #333;
  padding: 8px 12px;
  width: 100%;
  border-radius: 4px;
  outline: none;
  background: white;
  -webkit-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
  line-height: normal;
  margin-bottom: 20px;
}

input:hover, select:hover {
  border-color: #c6c6c6;
}

input::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #a4a4a4;
  font-size: 10px;
}

input:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #a4a4a4;
  font-size: 10px;
}

input::-ms-input-placeholder, select::-ms-input-placeholder {
  color: #a4a4a4;
  font-size: 10px;
}

input::placeholder, select::placeholder {
  color: #a4a4a4;
  font-size: 10px;
}

.widget-interface__tags {
  margin-bottom: 10px;
}

.widget-interface__select {
  font: 400 12px "Open Sans", sans-serif;
  color: #333;
  padding: 0.5em 1.5em 0.5em 0.5em;
  margin-bottom: 10px;
}

.widget-interface__select:active {
  -webkit-box-shadow: 0 0 8px rgba(51, 51, 51, 0.4);
          box-shadow: 0 0 8px rgba(51, 51, 51, 0.4);
}

.widget-interface__id {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.widget-interface__id::-moz-selection {
  background: transparent;
}

.widget-interface__id::selection {
  background: transparent;
}

.widget-interface__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.widget-interface__html {
  display: block;
  margin-bottom: 20px;
}

.widget-interface__html-container {
  border-radius: 4px;
  margin-right: 10px !important;
  resize: none;
}

.widget-interface__preview-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #00000030;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 11px 12px 10px;
  color: #555;
  outline: none;
  cursor: pointer;
  font: 600 15px/1 "Open Sans", sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  background: white;
  border-radius: 4px;
  text-decoration: none;
}

.widget-interface__preview-button:hover {
  background-color: #e5e5e5;
}

.widget-interface__additional-field {
  display: block;
}

.widget-interface__additional-field label, .widget-interface__additional-field input {
  display: inline-block;
  width: 125px;
}
