.kam-hide {
    display: none !important;
}
.kam-banner-rec {
    margin: 40px 0 0 0;
    padding: 25px;
    background: #fff;
    color: #000;
    cursor: pointer;
    &__img-wrap {
        margin: 15px 0;
        display: flex;
        img {
            width: 20%;
            margin: 0 35px 0 0;
            height:  100%;
            cursor: pointer;
        }
    }
    &__more-info {
        display: flex;
        align-items: center;
        cursor: pointer;
        max-width: 140px;
        svg {
            width: 15px;
            height: 25px;
        }
        span {
            margin: 0 0 0 10px;
            font-weight: 700;
            font-size: 18px;
        }
    }
}
.kam-banner-overlay {
    &__wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(#000, 0.8);
        z-index: 998;
    }
    &.kam-hide {
        &__wrapper {
            display: none;
        }
        &__container {
            display: none;
        }
    }
    &__container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        color: #000;
        z-index: 999;
        padding: 25px 0 35px 0;
    }
    &__close {
        position: absolute;
        top: 23px;
        right: 20px;
        border: none;
        background: none;
        outline: none;
        &:hover svg {
            fill: lighten(#000, 20%);
        }
        &:active {
            outline: none;
        }
        svg {
            width: 20px;
            height: 20px;
            transition: fill 300ms;
        }
    }
    &__title {
        overflow: hidden;
        h4 {
            margin: 0 40px 15px 40px;
            max-width: 290px;
        }
        &::after {
            content: '';
            display: block;
            width: 199%;
            height: 5px;
            border-bottom: 5px dotted #e3e3e3;
            transform: scale(0.5) translateX(-49.7%);
        }
    }
    &__description {
        display: flex;
        margin: 15px 0 0 0;
        padding: 0 40px;

        p {
            margin: 15px 50px 0 0;
            max-width: 285px;
            line-height: 30px;
        }
    }
    &__img {
        &--iphone {
            width: 80px;
            height: 100%;
        }
        &--android {
            width: 95px;
            height: 100%;
        }
    }
}

.kam-thankyou-banner {
    margin: 0 15px;
    width: 64.66667%;   
    background-color: #fff;
    a {
        text-decoration: none;
        color: #000;
    }
    &__title {
        padding: 0;
        color: #fff;
        background-color: #008b78;
        h2 {
            display: flex;
            align-items: center;
            height: 6rem;
            padding: 1rem 25px;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 2rem;
        }
    }
    &__container {
        padding: 25px;
    }
    &__img-container {
        margin: 30px 0 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            max-width: 100%;
            width: 120px;
            height: 100%;
        }
        .kam-icon-foto {
            margin: 0 10px 0 0;
        }
    }
    &__img-main {
        display: flex;
    }
    &__img-wrap {
        position: relative;
        width: 120px;
        margin-right: 35px;
    }
    &__img-storer {
        position: absolute;
        top: -38px;
        right: -50px;
        width: 90px;
        background-color: #fecb01;
        border-radius: 20px;
        font-weight: bold;
        text-align: center;
        padding: 22px 0;
        &::before {
            content: '';
            position: absolute;
            bottom: -12px;
            left: 15px;
            width: 0;
            height: 0;
            border-top: 20px solid #fecb01;
            border-right: 35px solid transparent;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        svg {
            transform: scale(0.6);
        }
        span {
            font-weight: 700;
        }
    }
}
