.kam-margin-left {
  margin-left: 25%;
}

.kam-mobile {
  display: none;
}

.kam-desktop {
  display: block;
}

.kam-hidden {
  display: none;
}

.kam-T05-container.kam-width-50 {
  width: 50%;
  padding: 7.5px;
}

.kam-T05-container.kam-width-50 .kam-text {
  width: 80%;
}

.kam-width-66 {
  width: 66%;
}

.kam-width-100 {
  width: 100%;
}

.kam-T05-container {
  position: relative;
  margin-top: 25px;
}

.kam-T05-container .kam-link {
  cursor: pointer;
  position: relative;
  padding: 24px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-image: url("https://storage.kameleoon.com/congstar/t26/background_desktop_long.png");
  background-size: 100% 100%;
}

.kam-T05-container .kam-link .kam-content {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.kam-T05-container .kam-link .kam-content .kam-headline {
  font-family: "Skizzed",Helvetica,Arial,sans-serif;
  color: #FECB01;
  font-size: 32px;
  line-height: 32px;
}

.kam-T05-container .kam-link .kam-content .kam-text {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.kam-T05-container .kam-link .kam-content .kam-button {
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #000;
  background-color: #FECB01;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 12px 12px 12px;
  border-radius: 4px;
}

.kam-T05-container .kam-link .kam-desktop svg {
  position: absolute;
  right: 221px;
  bottom: 100px;
}

.kam-T05-container .kam-link .kam-desktop-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.kam-T05-container .kam-link:hover {
  color: #fff;
}

.kam-T05-container-TY {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  gap: 31px;
}

.kam-T05-container-TY .kam-left,
.kam-T05-container-TY .kam-right {
  width: 50%;
  padding: 24px;
  padding-bottom: 0;
  position: relative;
  background-image: url("https://storage.kameleoon.com/congstar/mdm-deep-sell/background_checkout.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: auto;
}

.kam-T05-container-TY .kam-left .kam-link,
.kam-T05-container-TY .kam-right .kam-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.kam-T05-container-TY .kam-left .kam-link .kam-content,
.kam-T05-container-TY .kam-right .kam-link .kam-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-bottom: 16px;
}

.kam-T05-container-TY .kam-left .kam-link .kam-content .kam-headline,
.kam-T05-container-TY .kam-right .kam-link .kam-content .kam-headline {
  font-family: "Skizzed",Helvetica,Arial,sans-serif;
  color: #FECB01;
  font-size: 32px;
  line-height: 32px;
}

.kam-T05-container-TY .kam-left .kam-link .kam-content .kam-text,
.kam-T05-container-TY .kam-right .kam-link .kam-content .kam-text {
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

.kam-T05-container-TY .kam-left .kam-link .kam-content .kam-button,
.kam-T05-container-TY .kam-right .kam-link .kam-content .kam-button {
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #000;
  background-color: #FECB01;
  padding: 12px;
  border-radius: 4px;
}

.kam-T05-container-TY .kam-left .kam-link .kam-desktop-image,
.kam-T05-container-TY .kam-right .kam-link .kam-desktop-image {
  margin-left: 25%;
}

.kam-T05-container-TY .kam-left .kam-desktop svg {
  position: absolute;
  left: 40px;
  top: 0;
}

.kam-T05-container-TY .kam-right svg {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 24px;
}

@media only screen and (max-width: 1159px) {
  .kam-mobile {
    display: block;
  }

  .kam-desktop {
    display: none;
  }

  .kam-T05-container.kam-width-50 {
    padding: unset;
  }

  .kam-T05-container.kam-margin-left {
    margin-left: 8.33333%;
    width: 83.33333%;
  }

  .kam-T05-container .kam-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
  }

  .kam-T05-container .kam-link .kam-content {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .kam-T05-container .kam-link .kam-content .kam-headline {
    font-size: 24px;
  }

  .kam-T05-container .kam-link .kam-content .kam-text {
    font-size: 14px;
    text-align: center;
  }

  .kam-T05-container .kam-link .kam-content .kam-button {
    padding: 12px;
  }

  .kam-T05-container .kam-new {
    position: absolute;
    top: -10px;
    left: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .kam-T05-container.kam-margin-left {
    margin-left: 0px;
    width: 100%;
  }

  .kam-T05-container.kam-width-50 .kam-text {
    width: 100%;
  }

  .kam-T05-container {
    width: 100%;
  }

  .kam-T05-container .kam-link {
    background-image: url("https://storage.kameleoon.com/congstar/mdm-deep-sell/backgrond_mobile.png");
  }

  .kam-T05-container-TY {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .kam-T05-container-TY .kam-left,
  .kam-T05-container-TY .kam-right {
    width: 100%;
  }

  .kam-T05-container-TY .kam-left .kam-new,
  .kam-T05-container-TY .kam-right .kam-new {
    position: absolute;
    top: -10px;
  }

  .kam-T05-container-TY .kam-right svg {
    width: unset;
    position: unset;
    bottom: unset;
    margin-bottom: 24px;
  }
}