.kam-P08__{
    &modal{

        display: block
    }
    &wrapper{
        z-index: 1041;
    }
    &content{
        height: 640px;
        width: 500px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    &body{
        overflow: hidden;
    }
    &iframe{
        min-width: 500px;
        min-height: 100%;
        border: none;
    }
    &closeIcon{
        color: black;
    }
}

