.kamHide {
    height: 0!important; 
    overflow-y: hidden!important;
}

#kamTarif2 {
    margin: 1rem 2rem 1rem;
    width: 100%;
    position: relative;
    float: left;;
}

plan-teaser-bucket {
    justify-content: normal!important;
    -webkit-box-pack: unset!important;
    -ms-flex-pack: unset!important;
}

.plan-bucket-slider {
    height: 0; 
    overflow-y: hidden;
}

.kamMobileElements {
    float: left!important;
    height: 575px!important;
}

.kamMobileElements > div.plan-bucket-slide {
    width: auto!important;
    height: 575px!important;
}

@media screen and (max-width: 1159px) {
    .kamMobileElements {
        float: left!important;
        height: auto!important;
    }

    .kamMobileElements > div.plan-bucket-slide {
        width: auto!important;
        height: auto!important;
    }
}
